@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&display=swap');
@import "tailwindcss";

@layer base {
    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
    }
}

@theme {

  
  --color-background: #FFF4EE;
    --color-primary: #D3BCF9;
    --color-secondary: #C1F8FF;
    --color-foreground: #FFDD9E;
    --color-stroke: #000000;
    
    /* ----------------------------------------------------------  */
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --font-prime: "Courier Prime", "Courier New", ui-monospace, monospace;

    
    /* ---------------------------------------------------------- */ 
    
    --text-xs: 12px;
    --text-base: 16px;
    --text-xl: 20px;
    
    
  }